{% extends 'superviser.html' %}{% load static %}

{% block sidebar %}

    <div class="container  my-auto text-center">
  
    <form method="POST" class='form shadow-lg p-3 mb-4 bg-body rounded  mt-2 ms-2  w-100 h-100  position-relative  ' >
      <h1 class='text-center text-success'>ajouter client</h1>
      {% csrf_token %} 
      <div class="row">
        <div class="col">
      
      <div class="input-group text-success mb-1 mt-3">
        {{form.nom}}
      </div>
      
     
      <div class="input-group mb-1">
       {{form.email}}
      </div>
          
       
      <div class="input-group mb-1">
        {{form.mot_de_passe}}
      </div>
     
      
        <div class="input-group mb-1"   >
        {{form.confirmation_mot_de_passe}}
       </div>
      
  
       <div class="text-center">
        <button class="btn btn-lg btn-success btn-gradient shadow">ajouter</button>
      </div>
      </div>
    </div>
  </form>

</div>
  {% endblock sidebar %}